/*
 * footer
 */


.lyFooter {
  padding: 20px;
  background-color: #e1e1e1;
  .in {
    width: 960px;
    margin: 0 auto;
    clearfix();
  }
  .copy {
    text-align: center;
    font-style: italic;
  }
}