/*
 * header
 */

.lyHeader {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #e1e1e1;
  .in {
    width: 960px;
    margin: 0 auto;
    clearfix();
  }
  .siteTitle {
    font-size: 36px;
    float: left;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .headerNav {
    float: right;
    padding-top: 20px;
    li {
      float: left;
      margin-right: 20px;
    }
  }
}