/*
 * sidebar
 */

.lySideBar {
  float: right;
  .bannerList li {
    color: #fff;
    background-color: #777;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
  }
}