/*
 * setting
 * setting：各変数の定義。
 */

// Grid
$containerWidth = 1028px;

// Responsiveness Settings

// Spacing

// Typography

// Font

// color
$themeColor = #f1e05a;

// Modular Scale Settings

// Sizing
