/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$iconContributing_x = 0px;
$iconContributing_y = 0px;
$iconContributing_offset_x = 0px;
$iconContributing_offset_y = 0px;
$iconContributing_width = 21px;
$iconContributing_height = 21px;
$iconContributing_total_width = 21px;
$iconContributing_total_height = 189px;
$iconContributing_image = '../img/sprite.png';
$iconContributing = 0px 0px 0px 0px 21px 21px 21px 189px '../img/sprite.png';
$iconDocumentation_x = 0px;
$iconDocumentation_y = 21px;
$iconDocumentation_offset_x = 0px;
$iconDocumentation_offset_y = -21px;
$iconDocumentation_width = 21px;
$iconDocumentation_height = 21px;
$iconDocumentation_total_width = 21px;
$iconDocumentation_total_height = 189px;
$iconDocumentation_image = '../img/sprite.png';
$iconDocumentation = 0px 21px 0px -21px 21px 21px 21px 189px '../img/sprite.png';
$iconFaqs_x = 0px;
$iconFaqs_y = 42px;
$iconFaqs_offset_x = 0px;
$iconFaqs_offset_y = -42px;
$iconFaqs_width = 21px;
$iconFaqs_height = 21px;
$iconFaqs_total_width = 21px;
$iconFaqs_total_height = 189px;
$iconFaqs_image = '../img/sprite.png';
$iconFaqs = 0px 42px 0px -42px 21px 21px 21px 189px '../img/sprite.png';
$iconGettingStarted_x = 0px;
$iconGettingStarted_y = 63px;
$iconGettingStarted_offset_x = 0px;
$iconGettingStarted_offset_y = -63px;
$iconGettingStarted_width = 21px;
$iconGettingStarted_height = 21px;
$iconGettingStarted_total_width = 21px;
$iconGettingStarted_total_height = 189px;
$iconGettingStarted_image = '../img/sprite.png';
$iconGettingStarted = 0px 63px 0px -63px 21px 21px 21px 189px '../img/sprite.png';
$iconGithub_x = 0px;
$iconGithub_y = 84px;
$iconGithub_offset_x = 0px;
$iconGithub_offset_y = -84px;
$iconGithub_width = 21px;
$iconGithub_height = 21px;
$iconGithub_total_width = 21px;
$iconGithub_total_height = 189px;
$iconGithub_image = '../img/sprite.png';
$iconGithub = 0px 84px 0px -84px 21px 21px 21px 189px '../img/sprite.png';
$iconGooglePlus_x = 0px;
$iconGooglePlus_y = 105px;
$iconGooglePlus_offset_x = 0px;
$iconGooglePlus_offset_y = -105px;
$iconGooglePlus_width = 21px;
$iconGooglePlus_height = 21px;
$iconGooglePlus_total_width = 21px;
$iconGooglePlus_total_height = 189px;
$iconGooglePlus_image = '../img/sprite.png';
$iconGooglePlus = 0px 105px 0px -105px 21px 21px 21px 189px '../img/sprite.png';
$iconHome_x = 0px;
$iconHome_y = 126px;
$iconHome_offset_x = 0px;
$iconHome_offset_y = -126px;
$iconHome_width = 21px;
$iconHome_height = 21px;
$iconHome_total_width = 21px;
$iconHome_total_height = 189px;
$iconHome_image = '../img/sprite.png';
$iconHome = 0px 126px 0px -126px 21px 21px 21px 189px '../img/sprite.png';
$iconTwitter_x = 0px;
$iconTwitter_y = 147px;
$iconTwitter_offset_x = 0px;
$iconTwitter_offset_y = -147px;
$iconTwitter_width = 21px;
$iconTwitter_height = 21px;
$iconTwitter_total_width = 21px;
$iconTwitter_total_height = 189px;
$iconTwitter_image = '../img/sprite.png';
$iconTwitter = 0px 147px 0px -147px 21px 21px 21px 189px '../img/sprite.png';
$iconWhyYeoman_x = 0px;
$iconWhyYeoman_y = 168px;
$iconWhyYeoman_offset_x = 0px;
$iconWhyYeoman_offset_y = -168px;
$iconWhyYeoman_width = 21px;
$iconWhyYeoman_height = 21px;
$iconWhyYeoman_total_width = 21px;
$iconWhyYeoman_total_height = 189px;
$iconWhyYeoman_image = '../img/sprite.png';
$iconWhyYeoman = 0px 168px 0px -168px 21px 21px 21px 189px '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
